.root {
    -fx-font-size: 16px;
    -fx-background-color: #FEF9FF;
    -fx-background-radius: 30px;
}

/*
    Class for the Game Grid
*/
.GameGrid {
    -fx-alignment: center;
}

/*
    Class for a tile
*/
.tile {
    -fx-background-color: #D4C1EC;
    -fx-font-size: 30px;
    -fx-border-radius: 15px;
    -fx-background-radius: 15px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
}

.tile:hover {
  -fx-background-color:#FCEBFF;
}

/*
    Empty tile class
*/
.empty-tile {
    -fx-background-color: #FEF9FF;
    -fx-border-radius: 15px;
    -fx-background-radius: 15px;
}

/*
    Class for the game commands
*/
.game-commands {
    -fx-background-color: #FCEBFF;
    -fx-font-size: 15px;
    -fx-pref-height: 30px;
    -fx-pref-width: 180px;
    -fx-prompt-text-fill: gray;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 5, 0, 0, 0);
}

/*
    Class for the top title label
*/
.titleText {
        -fx-font-size: 45px;
        -fx-font-family: 'Brush Script MT';
}


/*
This is the class for the victory popup style
*/
.victory-popup {
    -fx-background-color: #FEF9FF;
    -fx-border-width: 3px;
    -fx-border-radius: 30px;
    -fx-padding: 20px;
    -fx-background-radius: 20px;
}

/*
This styles the hover effect
*/
#closeButton:hover {
    -fx-background-color: #B3D89C;
}

/*
This styles the victory message label
*/
#messageLabel {
    -fx-font-size: 30px;
    -fx-text-fill: black;
    -fx-font-weight: bold;
    -fx-font-family: 'Brush Script MT';
}